player-connection-mode=Listen
player-connection-guid=2897188688
player-connection-debug=0
player-connection-project-name=Mahjong
player-connection-ip=172.31.16.1
player-connection-ip=192.168.89.1
player-connection-ip=192.168.6.1
player-connection-ip=192.168.1.13
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=dab9bb0ab6ab4b3faeea962e81bd6fca
